*{
    margin: 0;
    padding: 0;
    font-family: "Lato", serif;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5547335;
    
}
.banner-text{
    padding: 120px 60px 147px 170px;
}
.banner h2{
    font-size: 70px;
    font-weight: bolder;
    margin-bottom: 28px;
}
.banner p{
    font-size: 18px;
    line-height: 30px;
    color: #272727a8;
    margin-bottom: 28px;
}
.banner-img{
    padding: 50px 100px 0 0;
}
.banner button{
    background-color: #E55473;
    padding: 20px 40px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.banner button:hover{
    background-color: #1fc64cd2;
    border: 1px solid white;
    color: white;
}
.flower-shop .flower-text{
    text-align: center;
    margin: 100px 500px 50px 500px;
}
.flower-text h3{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}
.flower-text p{
    font-size: 18px;
    line-height: 30px;
    color: #272727a8;
}
.flowers-box{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 0 200px 50px 200px ;
}
.flowers-box div{
    border-radius: 50% 50% 0 0;
}
.flower-5{
    background-color: #a7216234;
    padding: 80px 60px 0 60px;
}
.flower-6{
    background-color: #0598a03d;
    padding: 80px 80px 0 80px;
}
.flower-7{
    background-color: #477d114e;
    padding: 80px 80px 0 80px;
}
.flowers-box img{
    width: 100%;
    height: 100%;
}
.flowers-box h5{
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
    margin-bottom: 30px;
}
.services{
    margin: 130px 200px;
    background-color: #2727271a;
}
.services-container{
    display: flex;
    justify-content: space-evenly;
    padding: 80px 0 0 0;
}
.services-p{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0 60px 0;

}
.discount-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f46e8b33;
    
}
.discount-section-text{
    margin: 0 200px 0 200px;
}
.discount-section-text h2{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 24px;
}
.discount-section-text p{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
}
.discount-section button{
    background-color: #E55473;
    padding: 15px 40px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.discount-section p{
    color: #272727a8;
}
.discount-img{
    margin: 100px 200px 100px 0;
}

.flower-type{
    margin: 100px 0;
}
.flower-section-text{
    text-align: center;
}
.flower-section-text h2{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 30px;
}
.flower-section-text p{
    font-size: 18px;
    color: #2727279d;
}
.flower-picture{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 50px 200px;
}
.flower-picture img{
    width: 100%;
}
.subscribe{
    margin: 0 200px 100px 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}


@media screen and (max-width:576px) {
    .banner{
        flex-direction: column;
        
    }
    .banner-text{
        padding: 80px 50px;
    }
    .banner h2{
        font-size: 20px;
        font-weight: bolder;
        margin-bottom: 28px;
    }
    .banner p{
        font-size: 18px;
        line-height: 30px;
        color: #272727a8;
        margin-bottom: 28px;
    }
    .banner-img{
        margin: 10px;
        padding: 20px;
    }
    .banner-img img{
        width: 100%;
    }




    .flowers-box{
        flex-direction: column;
        margin: 50px ;
        
    }
    .flower-shop .flower-text{
        margin: 20px;
    }
    .flower-text h3{
        font-size: 30px;
        margin-bottom: 15px;
    }
    .flower-text p{
        font-size: 15px;
    }
    
    
}